<!doctype html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
  </head>
  <body>
    <script>
      if (!! localStorage.width && !! localStorage.height) {
        var w = parseInt(localStorage.getItem('width'), 10);
        var h = parseInt(localStorage.getItem('height'), 10);
        if (! isNaN(w) && w > 100 && ! isNaN(h) && h > 100) {
          window.resizeTo(w, h);
          if (localStorage.removeItem) {
            localStorage.removeItem('width');
            localStorage.removeItem('height');
          }
        }
      }
    </script>
