<% include _header %>
<h1><%= title %></h1>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script>
  navigator.id.beginAuthentication(function (email) {
    var escapedEmail = encodeURIComponent(email);
    window.location = '/authenticate/forward?email=' + escapedEmail;
  });
</script>
<% include _footer %>
