<% include _header %>
<% include _restore %>
<h1><%= title %></h1>
<script src="http://127.0.0.1:10002/authentication_api.js"></script>
<script>
  navigator.id.completeAuthentication();
</script>
<% include _footer %>
