<% include _header %>
<div class="loading">
  <p class="progress"><%= title %></p>
  <img src="/static/i/progress.gif" width="128" height="15" alt="Loading" />
</div>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script src="/static/js/auth_start.js"></script>
<% include _footer %>
