<% include _header %>
<h1><%= title %></h1>
<p><%= gettext("Something went wrong. Please try again later.") %></p>
<p><a href="<%= personaUrl %>/sign_in#AUTH_RETURN_CANCEL">Cancel</a></p>
<% if (info) { %>
  <p>Error: <%= info %></p>
<% } %>
<% include _footer %>
