<% include _header %>
<h2><%= title %></h2>
<p><%- format(gettext("It looks like you were trying to sign in as %(claimed)s but were actually signed into Google as %(proven)s."),
       { claimed: '<b>' + escape(claimed) + '</b>', proven: '<b>' + proven + '</b>' }) %></p>
<p>
  <button id="tryAgain"><%= gettext("Sign out of Google and try again") %></button>
  <button id="cancel">Cancel</button>
</p>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script src="/static/js/cancel_button.js"></script>
<% include _footer %>
