<% include _header %>
<h1><%= title %></h1>
<p><%= gettext("Something went wrong. Please try again later.") %></p>
<p><button id="cancel">Cancel</button></p>
<% if (errorInfo) { %>
  <p>Error: <%= errorInfo %></p>
<% } %>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script src="/static/js/error.js"></script>
<% include _footer %>
