<% include _header %>
<h1><%= title %></h1>
<p><%- format(gettext("It looks like you were trying to sign in as %(claimed)s but were actually signed into Google as %(proven)s."),
       { claimed: '<b>' + escape(claimed) + '</b>', proven: '<b>' + proven + '</b>' }) %></p>
<p><%- format(gettext("Please sign into Google as %s then try again."),
       ['<b>' + escape(claimed) + '</b>']) %></p>
<p><button id="cancel">Try again</button></p>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script>
  var cancelButton = document.getElementById('cancel');
  cancelButton.onclick = function () { navigator.id.raiseAuthenticationFailure() };
</script>
<% include _footer %>
