<% include _header %>
<h1><%= title %></h1>
<p><%= gettext("Something went wrong. Please try again later.") %></p>
<p><button id="cancel">Cancel</button></p>
<% if (info) { %>
  <p>Error: <%= info %></p>
<% } %>
<script src="<%= personaUrl %>/authentication_api.js"></script>
<script>
  var cancelButton = document.getElementById('cancel');
  cancelButton.onclick = function () { navigator.id.raiseAuthenticationFailure() };
</script>
<% include _footer %>
