<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Persona / Google Identity Bridge</title>
  </head>
  <body>
    <script src="<%= personaUrl %>/provisioning_api.js"></script>
    <script>
      navigator.id.beginProvisioning(function (email, duration) {
        if (email === "<%= certify %>") {
          alert("Congratulations! If browserid-certifier was hooked up, you would be certified as: <%= certify %>");
          navigator.id.raiseProvisioningFailure();
        } else {
          navigator.id.raiseProvisioningFailure();
        }
      });
    </script>
  </body>
</html>
