<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Persona / Google Identity Bridge</title>
  </head>
  <body>
    <input type="hidden" id="csrf" value="<%= _csrf %>"/>
    <script src="<%= personaUrl %>/provisioning_api.js"></script>
    <script src="/static/js/provision.js"></script>
  </body>
</html>
